.chartBtn {
  top: 30%;
  left: 80%;
  position: absolute;
}
.tooltip {
  position: absolute;
  background-color: black !important;
  color: white;
  width: auto;
  opacity: 0.6 !important;
  border: none !important;
}
