<div class="center" *ngIf="!transaction"><h4>Loading transaction</h4></div>
<mat-list *ngIf="transaction">
  <mat-list-item>
    <mat-icon mat-list-icon>₹</mat-icon>
    <h4 mat-line>{{ transaction[2] }}</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>credit_card</mat-icon>
    <h4 mat-line>{{ transaction[3] }}</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>category</mat-icon>
    <h4 mat-line>{{ transaction[4] }}</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>scatter_plot</mat-icon>
    <h4 mat-line>{{ transaction[1] }}</h4>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon>comment</mat-icon>
    <h4 mat-line>{{ transaction[5] }}</h4>
  </mat-list-item>
  <mat-list-item>
    <button mat-button (click)="delTran(id)">
      <mat-icon color="warn" (click)="delTran(id)">delete</mat-icon>
    </button>
    <a mat-button routerLink="/transactions/{{id}}/edit">
      <mat-icon color="primary">edit</mat-icon>
    </a>
  </mat-list-item>
</mat-list>
