<mat-progress-bar mode="query" *ngIf="!online" color="warn" class="fixed"></mat-progress-bar>
<div
  id="fab-dismiss"
  *ngIf="fabTogglerState === 'active'"
  (click)="onToggleFab()"
></div>
<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{ value: fabTogglerState }"
      >apps</i
    >
    <mat-spinner
      [diameter]="32"
      [strokeWidth]="2"
      class="loading"
      *ngIf="loading"
    ></mat-spinner>
  </button>

  <div [@speedDialStagger]="buttons.length" *ngFor="let btn of buttons">
    <button
      *ngIf="btn.link"
      mat-mini-fab
      class="fab-secondary"
      color="secondary"
      (click)="onToggleFab()"
    >
      <a routerLink="{{btn.link}}"
        ><mat-icon>{{ btn.icon }}</mat-icon></a
      >
    </button>
    <button
      *ngIf="!btn.link"
      mat-mini-fab
      color="secondary"
      class="fab-secondary"
      (click)="checkBalance(); onToggleFab()"
    >
      <a>
        <mat-icon>{{ btn.icon }}</mat-icon>
      </a>
    </button>
  </div>
  <div
    [@speedDialStagger]="chips.length"
    *ngFor="let chip of (chips | reverse)"
  >
    <mat-chip-list *ngFor="let data of (chip | keyvalue)">
      <mat-chip [ngClass]="data.key | lowercase"
        >{{ data.key }}: {{ data.value | prependStr: " ₹ " }}</mat-chip
      >
    </mat-chip-list>
  </div>
</div>
