<div
  id="fab-dismiss"
  *ngIf="fabTogglerState === 'active'"
  (click)="onToggleFab()"
></div>
<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="onToggleFab()">
    <i class="material-icons" [@fabToggler]="{ value: fabTogglerState }"
      >apps</i
    >
    <mat-spinner
      [diameter]="32"
      [strokeWidth]="2"
      class="loading"
      *ngIf="loading"
    ></mat-spinner>
  </button>

  <mat-icon [@speedDialStagger] color="warn" *ngIf="!online">cloud</mat-icon>
  <mat-icon [@speedDialStagger] color="primary" *ngIf="online" (click)="reload()">cloud</mat-icon>
  <div [@speedDialStagger]="buttons.length" *ngFor="let btn of buttons">
    <a
      routerLink="{{btn.link}}"
      (click)="onToggleFab()"
      *ngIf="btn.link"
      [routerLinkActive]="'selected-fab'"
      mat-mini-fab
      class="fab-secondary"
      color="secondary"
    >
      <mat-icon>{{ btn.icon }}</mat-icon>
    </a>
    <button
      *ngIf="!btn.link"
      mat-mini-fab
      color="secondary"
      class="fab-secondary"
      (click)="checkBalance(); onToggleFab()"
    >
      <a>
        <mat-icon>{{ btn.icon }}</mat-icon>
      </a>
    </button>
  </div>
  <div
    class="bal-container"
    [@speedDialStagger]="chips.length"
    *ngFor="let chip of (chips | reverse)"
  >
    <mat-chip-list *ngFor="let data of (chip | keyvalue)">
      <mat-chip [ngClass]="data.key | lowercase" class="balance-chip"
        >{{ data.key }}:
        <strong class="balance">{{
          data.value | prependStr: " ₹ "
        }}</strong></mat-chip
      >
    </mat-chip-list>
  </div>
</div>
