.gmap {
  height: -webkit-fill-available;
  width: -webkit-fill-available;
}
.gmap-month {
  background: transparent;
  position: absolute;
  z-index: 10;
  margin-left: 20%;
}
.mat-select-value{
  color: white;
}
