<mat-drawer-container class="container" autosize hasBackdrop="true">
  <mat-drawer #drawer class="sidenav" mode="push">
    <div *ngIf="filterDrawer">
      <button
        mat-button
        color="warn"
        (click)="
          sourceFltr = '';
          query = '';
          dateStart = '';
          dateEnd = '';
          catFltr = '';
          lowValue = 0;
          highValue = 20000
        "
        class="right"
      >
        <mat-icon>refresh</mat-icon>
      </button>
      <mat-form-field class="mat-form-elem">
        <mat-icon matPrefix>search</mat-icon>
        <input
          type="text"
          placeholder="Search"
          matInput
          [matAutocomplete]="auto"
          [(ngModel)]="query"
        />
        <button
          mat-button
          *ngIf="query"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="query = ''"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of (autoCompletes | arrayStringFltr: query)"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="mat-form-elem date-range">
        <input
          matInput
          [min]="minDate"
          [max]="maxDate"
          [matDatepicker]="picker"
          placeholder="Start Date"
          [(ngModel)]="dateStart"
          (focus)="picker.open()"
        />
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          touchUi
          [dateClass]="dateClass"
        ></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="mat-form-elem date-range">
        <input
          matInput
          [min]="dateStart"
          [max]="maxDate"
          [matDatepicker]="pickerEnd"
          placeholder="End Date"
          [(ngModel)]="dateEnd"
          (focus)="pickerEnd.open()"
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="pickerEnd"
        ></mat-datepicker-toggle>
        <mat-datepicker
          [dateClass]="dateClass"
          #pickerEnd
          touchUi
        ></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="mat-form-elem">
        <mat-label>Select Source</mat-label>
        <mat-icon matPrefix>credit_card</mat-icon>
        <mat-select [(value)]="sourceFltr" multiple>
          <mat-option *ngFor="let source of sources" [value]="source.value">
            {{ source.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="mat-form-elem">
        <mat-label>Select Category</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <mat-select [(value)]="catFltr" multiple>
          <mat-option *ngFor="let cat of cats" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="mat-form-elem custom-slider">
        <ng5-slider
          [(value)]="lowValue"
          [(highValue)]="highValue"
          [options]="options"
        ></ng5-slider>
      </div>
      <mat-form-field class="mat-form-elem amount-range">
        <mat-icon matPrefix>₹</mat-icon>
        <input
          type="text"
          matInput
          placeholder="Min."
          [(ngModel)]="lowValue"
          pattern="\d*"
          autocomplete="off"
        />
      </mat-form-field>
      <mat-form-field class="mat-form-elem amount-range">
        <mat-icon matPrefix>₹</mat-icon>
        <input
          type="text"
          matInput
          placeholder="Max."
          [(ngModel)]="highValue"
          pattern="\d*"
          autocomplete="off"
        />
      </mat-form-field>
    </div>
    <div *ngIf="sortDrawer">
      <button
        type="button"
        mat-button
        color="warn"
        (click)="sortKey = 'id'; sortOrder = 'desc'"
        class="right"
      >
        <mat-icon>refresh</mat-icon>
      </button>

      <button
        class="mat-form-elem sort-keys"
        type="button"
        mat-button
        *ngFor="let key of sortKeys"
        (click)="
          sortKey = key.key; sortOrder = sortOrder === 'desc' ? 'asc' : 'desc'
        "
      >
        <mat-icon matPrefix>{{ key.icon }}</mat-icon>
        {{ key.value }}
        <span *ngIf="sortKey === key.key">
          {{ sortOrder === "desc" ? key.desc : key.asc }}
        </span>
        <mat-icon *ngIf="sortKey === key.key" matSuffix>{{
          sortOrder === "desc" ? "expand_more" : "expand_less"
        }}</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <mat-progress-bar mode="query" *ngIf="!transactions"></mat-progress-bar>
  <ng-container
    *ngIf="
      transactions &&
      (transactions.expenses
        | filter: sourceFltr:'source'
        | filter: query:'search'
        | filter: [dateStart, dateEnd]:'date'
        | filter: catFltr:'cat'
        | filter: [lowValue, highValue]:'amount'
        | sortBy: sortKey:sortOrder) as filteredExpenses
    "
  >
    <div class="list-header">
      <button
        type="button"
        class="mini"
        mat-button
        (click)="drawer.toggle(); filterDrawer = true; sortDrawer = false"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <button
        type="button"
        class="mini"
        mat-button
        (click)="drawer.toggle(); sortDrawer = true; filterDrawer = false"
      >
        <mat-icon>sort</mat-icon>
      </button>

      <button
        mat-button
        (click)="openBottomSheetBudgets()"
        *ngIf="monthFltr == currMonth"
        class="right"
      >
        <mat-icon>format_align_left</mat-icon>
      </button>
      <button mat-button color="accent" class="medium">
        Total: {{ filteredExpenses | sumAmt | prependStr: "₹ " }}
      </button>
      <button mat-button color="primary" *ngIf="monthFltr == currMonth" class="medium">
        Today:
        {{
          transactions.expenses
            | filter: [today, today]:"date"
            | sumAmt: "today"
            | prependStr: "₹ "
        }}
      </button>

      <div class="center">
        <mat-form-field>
          <mat-datepicker-toggle matPrefix></mat-datepicker-toggle>
          <mat-select
            [(value)]="monthFltr"
            class="center"
            (selectionChange)="
              getTransactions();
              sourceFltr = '';
              query = '';
              dateStart = '';
              dateEnd = '';
              catFltr = '';
              lowValue = 0;
              highValue = 20000
            "
          >
            <mat-option *ngFor="let month of pastMonths" [value]="month">
              {{ month }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="list">
      <div *ngFor="let transaction of filteredExpenses">
        <mat-card
          class="card fix-height"
          [ngClass]="transaction[3] | lowercase"
        >
          <div class="full-size">
            <mat-card-header>
              <div
                mat-card-avatar
                (click)="
                  sourceFltr = sourceFltr
                    ? null
                    : [transaction[3].toLowerCase()]
                "
                [ngClass]="transaction[3] | lowercase | prependStr: 'avatar-'"
              ></div>
              <mat-card-title>
                {{ transaction[2] | prependStr: "₹ " }}
              </mat-card-title>
              <mat-card-subtitle>
                <p
                  (click)="
                    dateStart = dateStart ? '' : transaction[0];
                    dateEnd = dateEnd ? '' : transaction[0]
                  "
                >
                  {{ transaction[0] | date: "MMM dd, yyyy hh:mm" }}
                </p></mat-card-subtitle
              >
              <a
                class="right"
                routerLink="/transactions/{{transaction[9]}}/show"
              >
                <mat-icon>more_vert</mat-icon>
              </a>
              <a
                *ngIf="transaction[8]"
                class="right"
                (click)="imgOpen(transaction[8], transaction[5])"
              >
                <mat-icon>receipt</mat-icon>
              </a>
            </mat-card-header>

            <mat-card-content>
              <mat-icon (click)="catFltr = catFltr ? null : [transaction[4]]">{{
                transaction[4] | iconstr
              }}</mat-icon>
              <span
                class="card-info-str"
                (click)="
                  query = query === transaction[1] ? null : transaction[1]
                "
              >
                {{ transaction[1] }}
                <mat-chip-list class="right" *ngIf="transaction[5]"
                  ><mat-chip
                    [ngClass]="{
                      'selected-chip': query === comment
                    }"
                    class="chip-color"
                    [selectable]="selectable"
                    *ngFor="let comment of transaction[5].toString().split(',')"
                  >
                    <p (click)="query = query === comment ? '' : comment">
                      {{ comment }}
                    </p>
                  </mat-chip></mat-chip-list
                >
              </span>
            </mat-card-content>
          </div>
        </mat-card>
      </div>
    </div>
  </ng-container>
</mat-drawer-container>
