<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>
<div *ngIf="!loading" class="fixed header">
  <span>
    <button
      mat-button
      (click)="smallHeatMapChart()"
      *ngIf="!small"
      class="chartBtn"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-button (click)="heatMapChart()" *ngIf="small" class="chartBtn">
      <mat-icon>format_align_justify</mat-icon>
    </button>
  </span>
  <a
    [routerLink]="['/transactions']"
    [queryParams]="{ date: selectedDate }"
    class="smallLink"
    *ngIf="selectedDate"
    >{{ selectedDate }}►</a
  >
</div>

<div id="heatMap"></div>
