<mat-progress-bar mode="query" *ngIf="loading"></mat-progress-bar>

<mat-accordion>
  <mat-expansion-panel (opened)="splitBubble()">
    <mat-expansion-panel-header>
      <mat-panel-title> Bubble Chart </mat-panel-title>
    </mat-expansion-panel-header>
    <button mat-button (click)="groupBubble()" *ngIf="!grouped">Group</button>
    <button mat-button (click)="splitBubble()" *ngIf="grouped">Split</button>
    <div id="expensesBubble"></div>
  </mat-expansion-panel>
  <mat-expansion-panel
    (opened)="!this.instalments.length ? this.getInstalments() : null"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Installments </mat-panel-title>
      <mat-panel-description> Fixed Amount Savings </mat-panel-description>
    </mat-expansion-panel-header>
    <table
      class="mat-elevation-z8 mobile-table expansion-panel-body"
      *ngIf="!loading"
    >
      <th *ngFor="let header of headers" class="header">{{ header }}</th>
      <tr
        *ngFor="let row of instalments; let i = index"
        [ngClass]="{ 'total-row': !i }"
      >
        <td *ngFor="let column of row; let j = index">
          {{ j && column ? "₹ " : null }}{{ column ? column : "--" }}
        </td>
      </tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="!this.lics.length ? this.getLic() : null">
    <mat-expansion-panel-header>
      <mat-panel-title> LIC </mat-panel-title>
      <mat-panel-description class="center">
        Policy Details
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-tab-group dynamicHeight>
      <mat-tab *ngFor="let lic of lics" label="{{lic['PolicyNumber']}}">
        <table class="lic">
          <tr *ngFor="let key of licHeaders">
            <td>{{ key }}</td>
            <td>{{ lic[key] }}</td>
          </tr>
        </table>
      </mat-tab>
    </mat-tab-group>
  </mat-expansion-panel>
</mat-accordion>
