div.mat-expansion-panel-body {
  padding: 10px;
}
.mobile-table {
  font-size: 12px;
  text-align: right;
  width: -webkit-fill-available;
}
.total-row {
  background: green;
  color: white;
}
.header {
  color: brown;
}
td {
  width: 100px;
}
