<div *ngIf="!fetching">
  <div *ngIf="!post; else: forminfo" novalidate>
    <form
      [formGroup]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="form"
    >
      <mat-form-field class="form-element">
        <mat-icon matPrefix>₹</mat-icon>
        <input
          matInput
          placeholder="Amount"
          formControlName="amount"
          pattern="\d*"
          autocomplete="off"
          [(ngModel)]="amount"
          #eamount
        />
        <span *ngIf="balances && balances[source]" matSuffix>{{
          balances[source] | prependStr: "₹ "
        }}</span>
        <mat-error
          *ngIf="
            !formGroup.controls['amount'].valid &&
            formGroup.controls['amount'].touched
          "
        >
          {{ getErrorAmount() }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-element" class="hidden">
        <mat-label>Select Source</mat-label>
        <mat-icon matPrefix>credit_card</mat-icon>
        <span *ngIf="balances && balances[source]" matSuffix>{{
          balances[source] | prependStr: "₹ "
        }}</span>
        <mat-select [(value)]="source" formControlName="source">
          <mat-option *ngFor="let source of sources" [value]="source">
            {{ source }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="source-button-row">
      <button type="button" *ngFor="let fabSource of fabSources"
         mat-mini-fab
         [ngClass]="{'selected-source': source === fabSource.name}"
         (click)="fabSourceClick(fabSource.name)">
         <img src={{fabSource.img}} width=25/>
       </button>
      </div>

      <mat-form-field class="form-element">
        <mat-label>Select Category</mat-label>
        <mat-icon matPrefix>category</mat-icon>
        <mat-select [(value)]="cat" formControlName="cat">
          <mat-option *ngFor="let cat of cats" [value]="cat">
            {{ cat }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="form-element" *ngIf="cat != 'Misc.'">
        <mat-label>Select Sub Category</mat-label>
        <mat-icon matPrefix>scatter_plot</mat-icon>
        <mat-select [(value)]="subCat" formControlName="subCat">
          <mat-option *ngFor="let subCat of subCats[cat]" [value]="subCat">
            {{ subCat }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-element" *ngIf="cat == 'Misc.'">
        <mat-icon matPrefix>scatter_plot</mat-icon>
        <input matInput placeholder="Sub Category" formControlName="subCat" />
      </mat-form-field>
      <mat-form-field class="form-element">
        <mat-icon matPrefix>comment</mat-icon>
        <mat-chip-list #chipList aria-label="Comments">
          <mat-chip
            *ngFor="let comment of comments"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(comment)"
          >
            {{ comment }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            formControlName="comments"
            placeholder="Comments"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
            #ecomments
          />
        </mat-chip-list>
      </mat-form-field>
      <div class="form-element">
        <a (click)="fileInput.click()" mat-mini-fab *ngIf="amount >= 20">
          <mat-icon>attachment</mat-icon>
          <input
            #fileInput
            type="file"
            (change)="onFileChange($event)"
            style="display:none;"
          />
        </a>
        <span *ngIf="imgAdded">
          <img
            src="{{formGroup.controls['billImgUrl'].value ? formGroup.controls['billImgUrl'].value.replace('%26', '&') : ''}}"
            width="50"
            height="50"
            alt=""
            class="right"
            [ngClass]="{
              loadingImage: !formGroup.controls['billImgUrl'].value
            }"
          />
        </span>
      </div>
      <div class="form-element">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="button"
          [disabled]="!formGroup.valid || imgUploading"
        >
          {{ this.mode | uppercase }}
        </button>
      </div>
    </form>
    <div class="fab-container">
      <button
        mat-mini-fab
        class="fab-toggler"
        (click)="onToggleFab()"
        color="primary"
      >
        <i class="material-icons" [@fabToggler]="{ value: fabTogglerState }"
          >scatter_plot</i
        >
      </button>

      <div
        [@speedDialStagger]="suggestions.length"
        *ngFor="let suggestion of suggestions"
      >
        <button
          mat-mini-fab
          (click)="suggClick(suggestion)"
          class="fab-secondary"
          [ngStyle]="{ 'background-color': suggDetails[suggestion][4] }"
        >
          {{ suggDetails[suggestion][3] }}
        </button>
      </div>
    </div>
  </div>

  <ng-template #forminfo>
    <mat-progress-bar mode="query"></mat-progress-bar>
    <mat-list>
      <mat-list-item>
        <span>
          <mat-progress-spinner
            [diameter]="20"
            [strokeWidth]="2"
            color="primary"
            mode="determinate"
            [value]="spinnerVal"
          >
          </mat-progress-spinner>
        </span>

        <span>
          <h4 mat-line>
            {{ this.mode == "update" ? " Updating " : " Inserting " }} the
            transaction
          </h4>
        </span>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>₹</mat-icon>
        <h4 mat-line>{{ post.amount }}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>credit_card</mat-icon>
        <h4 mat-line>{{ post.source }}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>category</mat-icon>
        <h4 mat-line>{{ post.cat }}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>scatter_plot</mat-icon>
        <h4 mat-line>{{ post.subCat }}</h4>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>comment</mat-icon>
        <h4 mat-line>{{ post.comments }}</h4>
      </mat-list-item>
      <mat-list-item *ngIf="post.billImgUrl">
        <mat-icon mat-list-icon>image</mat-icon>
        <img
          src="{{ post.billImgUrl.replace('%26', '&') }}"
          alt=""
          width="50"
          height="50"
        />
      </mat-list-item>
    </mat-list>
  </ng-template>
</div>
<mat-progress-bar mode="query" *ngIf="fetching"></mat-progress-bar>
