.hidden {
  display: none;
}
.form-element {
  padding: 15px 5px 0px 0px;
  width: 80%;
  margin-left: 40px;
}
.form-element button {
  float: right;
}
.loadingImage {
  background: url("/assets/loadingImage.svg");
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.fab-container {
  position: fixed;
  bottom: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  left: 10px;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.source-button-row {
  margin-left: 35px;
  margin-top: 10px;
}
.source-button-row button,{
  margin-right: 5px;
  background: none;
}
.source-button-row .selected-source {
  background-color: #90EE90;
  box-shadow: none
}
.source-button-row .source-value {
  color: black;
  margin-top: 10px;
}
